/* Place CSS styles here */
.dessert-forms-items{display: flex;}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

h1 {
    font-size: 24px;
}


.mobile-main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    position: absolute;
    top: 132px;
    left: 0;
    right: 0;
  }
  
  .mobile-main-nav a {
    padding: 8px;
}

@media (min-width: 800px) {
    h1 {
        font-size: 32px;
    }
}

img {
    width: 100%;
}

.dessert-forms-main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.dessert-forms-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 800px) {
    .dessert-forms-items {
        flex-direction: row
    }
}

.mousse-forms-item {
    border: 1px solid #808080;
    border-radius: 16px;
    padding: 20px;
}

.zebra-forms-pop-up {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: papayawhip;
}

.form-submitted .dessert-forms-pop-up {
    display: flex;
}

.form-submitted {
    background-color: peachpuff;
}

label {
    display: block;
    margin-bottom: 4px;
}

input {
    border-radius: 16px;
    margin-bottom: 16px;
}

form {
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 4px 6px 0px #808080;
}

.logo {
    max-width: 80px;
}

.form-buttons {
    display: flex;
    flex-direction:  column;
    gap: 4px;
}

@media (min-width: 800px) {
    .form-buttons{
        flex-direction: row;
    }
}